@keyframes rotate-in {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ebb-and-flow {
  0% {
    $offset: 15px;
    width: calc(100% - #{$offset});
    height: calc(100% + #{$offset});
    top: -$offset/2;
    left: $offset/2;
  }
  100% {
    $offset: -15px;
    width: calc(100% - #{$offset});
    height: calc(100% + #{$offset});
    top: -$offset/2;
    left: $offset/2;
  }
}