a,
a:visited {
    text-decoration: none;
    border:none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
