main {
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  h3 {
    font-size: 2.6rem;
  }
}
.about-me {
  display: flex;
  position: relative;
  overflow-x: hidden;
  @include media($fourth-break){
    flex-direction: column-reverse;
    justify-content: center;
  }
  h3,p {
    font-size: 2.4rem;
  }
  .text-highlight {
    color: $primary-accent;
  }
}
.profile-text {
  width: calc(60% - 10px);
  margin-right: 10px;
  padding-top: 60px;
  @include media($fourth-break){
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
}
.profile-photo {
  width: calc(40% - 10px);
  margin-left: 10px;
  position: relative;
  top: -50px;
  @include media($second-break){
    img {
      object-fit: cover;
      object-position: center 25%;
      height: 100%;
    }
  }
  @include media($fourth-break){
    top: -10px;
    margin-left: 0;
    width: 100%;
    height: 250px;
  }
  &::after {
    content: '';
    display: block;
    $offset: 15px;
    width: calc(100% - #{$offset});
    height: calc(100% + #{$offset});
    position: absolute;
    top: -$offset/2;
    left: $offset/2;
    border: 1px solid $primary-accent;
    transition: all 0.35s;
  }
  &:hover::after {
    $offset: -15px;
    width: calc(100% - #{$offset});
    height: calc(100% + #{$offset});
    top: -$offset/2;
    left: $offset/2;
  }
  .profile-photo-tag {
    display: none;
  }
  &:active .profile-photo-tag {
    display: block;
    position: absolute;
  }
} 

.my-skills {
  margin: 50px 0 75px;
  .skill-highlight {
    position: absolute;
    height: 120px;
    width: 100%;
    background-color: $secondary-accent;
  }
  h2 {
    padding: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 10px;
    width: 100%;
  }
  li {
    width: 190px;
    margin: 10px 10px;
    display: flex;
    position: relative;
    font-size: 2rem;
    transform-origin: top;
    @include media($fifth-break){
      width: calc(50% - 20px);
    }
    .skill-icon {
      width: 100%;
      height: 100px;
      padding: 20px;
      flex-shrink: 0;
      background-color: $primary-color;
      border-left: 2px solid $primary-accent;
      font-size: 4rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      transition: transform 0.35s, box-shadow 0.35s;
    }
    p {
      margin: 0;
      position: absolute;
      bottom: 10px;
      left: -4%;
      width:100%;
      text-align: center;
      opacity: 0;
      color: $primary-black;
      transition: all 0.35s;
      @include media($fifth-break){
        opacity: 1;
        left: 0;
      }
    }
    &:hover {
      .skill-icon {
        transform: scale(1.05);
        box-shadow: 0 0 15px transparentize($primary-black, 0.5);
      }
      p {
        opacity: 1;
        left: 0;
      }
    }
  }
}
.project {
  width: 95%;
  margin: 180px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  @include media($second-break){
    flex-direction: column-reverse;
    margin: 140px auto;
  }
  &:first-of-type {
    margin-top: 120px;
  }
  &:last-of-type {
    margin-bottom: 90px;
  }
  h3 {
    margin-bottom: 30px;
  }
  &:nth-of-type(2n){
    flex-direction: row-reverse;
    @include media($second-break){
      flex-direction: column-reverse;
    }
    .project-image{
      margin: 0;
      margin-right: 20px;
      @include media($second-break){
        margin-right: 0;
      }
      ul {
        right: -30px;
        justify-content: flex-end;
        @include media($fifth-break){
          right: 0;
        }
      }
      .project-image-border {
        left: -10px;
        @include media($second-break){
          left: calc(40% - 20px);
        }
        @include media($fourth-break){
          left: 15%;
        }
        @include media($fifth-break){
          left: 0%;
        }
        &::before {
          left: -10px;
        }
        &:hover::before {
          left: 10px;
        }
      }
    }
    .project-text {
      padding-right: 0;
      padding-left: 20px;
      margin: 0;
      margin-left: 20px;
      @include media($second-break){
        margin: 0;
        padding: 0;
        margin-top: 50px;
      }
    }
    
  }
  a {
    display: block;
    width: calc(50% - 40px);
    margin: 20px 10px;
    text-align: center;
    font-size: 1.8rem;
    @include media($fifth-break){
      width: 100%;
    }
  }
  p {
    font-size: 2rem;
  }
  p:last-of-type {
    margin-bottom: 35px;
  }
  .sub-title {
    color: transparentize($primary-black, 0.4);
    font-size: 2rem;
    font-family: $header-text;
    padding-left: 10px;
  }
  .project-text,
  .project-image {
    position: relative;
    width: calc(50% - 20px);
    @include media($second-break){
      width: 100%;
    }
  }
  .project-text {
    padding-right: 20px;
    margin-right: 20px;
    @include media($second-break){
      margin: 0;
      padding: 0;
      margin-top: 50px;
    }
  }
  .project-image {
    background-color: $primary-color;
    padding: 0px 0;
    margin-left: 10px;
    @include media($second-break){
      margin-left: 0;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      right: 30px;
      bottom: 35px;
      @include media($fifth-break){
        right: 0;
      }
    }
    li {
      background-color: #fff;
      border: 1px solid $secondary-accent;
      margin: 5px;
      padding: 5px;
      font-size: 1.9rem;
    }
  }
  .project-image-border{
    position: relative;
    left: 20px;
    top: -70px;
    @include media($second-break){
      width: 60%;
    }
    @include media($fourth-break){
      width: 80%;
      left: 5%;
      img {
        object-fit: cover;
      }
    }
    @include media($fifth-break) {
      width: 100%;
      left: 0;
    }
    &::before {
      content: '';
      display: block;
      height: calc(100% + 20px);
      width: 100%;
      border: 1px solid $primary-accent;
      position: absolute;
      top: -10px;
      right: -10px;
      transition: all 0.35s;
    }
    &:hover::before {
      right: 10px;
    }
  }
}
// .my-contacts{
//   .wrapper{
//     @include media($final-break){
//       width: 100%;
//     }
//   }
// }
.contact-flex {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @include media($fourth-break){
    flex-direction: column;
  }
  @include media($final-break){
    width: 100%;
  }
  ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding-top: 60px;
    padding-right: 150px;
    @include media($second-break) {
      padding-right: 50px;
    }
    @include media($fourth-break){
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-right: 0;
    }
    @include media($final-break){
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
    }
  }
  li {
    margin: 10px 0;
    @include media($final-break){
      width: calc(100% / 3);
    }
  }
  a {
    color: $primary-black;
    font-size: 2rem;
    position: relative;
    span {
      position: relative;
      z-index: 2;
      background-color: #fff;
    }
    &::after {
      content: '';
      display: block;
      width: 125%;
      height: 100%;
      position: absolute;
      top: 30%;
      right: 2.5px;
      z-index: 1;
      border: 1px solid $primary-accent;
      transition: all 0.35s;
      @include media($fourth-break){
        width: 100%;
      }
    }
    &:hover::after,
    &:focus::after {
      width: 100%;
      @include media($fourth-break){
        top: -25%;
        height: 150%;
      }
    }
  }
}
form {
  width: 50%;
  padding: 20px 40px 70px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  background-color: $primary-color;
  color: $primary-black;
  font-size: 2rem;
  @include media($second-break) {
    width: 80%;
  }
  @include media($fourth-break){
    width: 100%;
  }
  h3 {
    margin: 10px 0;
  }
  p {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  input, 
  textarea {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #fff0;
    color: $primary-black;
    border: none;
    padding: 10px;
    &:required, &:invalid {
      border: none;
      box-shadow: none;
    }
  }
  input {
    height: 50px;
    position: relative;
    z-index: 2;
  }
  input,
  textarea {
    border: 2px solid #fff0;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 2px solid $primary-accent;
      &::placeholder{
        opacity: 0.9;
      }
    }
  }
  textarea {
    resize: none;
    height: 250px;
    position: relative;
    z-index: 2;
  }
  span {
    position: relative;
  }
  button span {
    position: absolute;
  }
  textarea + span::after,
  input + span::after {
    content: '';
    display: block;
    width: 150%;
    position: absolute;
    left: -25%;
    z-index: 1;
    transition: all 0.35s;
    border: 1px solid $primary-accent;
  }
  input + span::after{
    height: 45px;  
    top: -67.5px;
  }
  textarea + span::after {
    height: 245px;
    top: -265px;
  }
  input:focus + span::after,
  input:invalid + span::after,
  textarea:focus-within + span::after,
  textarea:invalid + span::after {
    width: 100%;
    height: 50px;
    left: 0;
    top: -70px;
  }
  input:focus + span::after,
  input:invalid + span::after{
    height: 50px;
    top: -70px;
  }
  textarea:focus-within + span::after,
  textarea:invalid + span::after {
    height: 250px;
    top: -270px;
  }
}