$primary-color: #F3F3F3;//#F3F7F0;
$primary-accent: #EF414C;
$secondary-accent: #7BB6DE;//#3F7FA9;

$primary-black: #19323C;
$primary-white: #F3F3F3;

$translucentBlack: transparentize($primary-black, 0.4);

$font-serif: serif;
$font-sans-serif: sans-serif;



$body-text: 'Work Sans', sans-serif;

$header-text: 'Abril Fatface', cursive;


/*
accent: #EF414C
primary: #F3F7F0
secondary: #19323C
tertiary: #3F7FA9
yellow: #F8EC70
red: #F0575A
*/