/* Setup - setup.scss / variables.scss / mixins.scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/*
accent: #EF414C
primary: #F3F7F0
secondary: #19323C
tertiary: #3F7FA9
yellow: #F8EC70
red: #F0575A
*/
/* Type Styles - type.scss */
* {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* Global Styles - global.scss */
body {
  color: #19323C;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h2 {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.button {
  padding: 15px 20px;
  background-color: #3F7FA9;
  border-radius: 100px;
  font-size: 2rem;
  color: #F3F7F0;
  -webkit-transition: all 0.35s, outline 0s;
  transition: all 0.35s, outline 0s;
  position: relative;
}

.button:hover span, .button:focus span {
  height: 120%;
  width: 90%;
  top: -10%;
  left: 5%;
}

.button:focus {
  outline: 1px dotted #EF414C;
}

.button span {
  width: 110%;
  height: 90%;
  display: block;
  position: absolute;
  top: 5%;
  left: -5%;
  border-radius: 100px;
  border: 1px solid #EF414C;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hidden-button,
.hidden-button-small {
  position: absolute;
  left: calc(-21% - 10px);
  top: calc(50% + 5px);
  z-index: 3;
}

.hidden-button path {
  fill: #EF414C;
  stroke: #EF414C;
}

.hidden-button:not(.active) {
  cursor: pointer;
}

.hidden-button-small {
  width: 20px;
  height: 20px;
  left: calc(-21% + 10px);
  top: calc(50% + 10px);
  border-radius: 50px;
  background-color: #EF414C;
  border: 1px solid #EF414C;
}

.active {
  background-color: #0000;
}

.active path {
  fill: none;
}

.hidden-button.active {
  -webkit-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
}

.hidden-button-small.active {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* Header Styles - header.scss */
header {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #3F7FA9), color-stop(30%, #F3F7F0));
  background-image: linear-gradient(to right, #3F7FA9 30%, #F3F7F0 30%);
  min-height: 95vh;
}

header nav ul {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 50px 0 0;
  font-size: 1.8rem;
}

header nav a {
  color: #19323C;
  position: relative;
}

header nav a:hover,
header nav a:focus,
header nav ul:not(:hover) .activeNav {
  color: #EF414C;
}

header nav a:hover::after,
header nav a:focus::after,
header nav ul:not(:hover) .activeNav::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: -52px;
  background-color: #EF414C;
}

h1 {
  margin: 10px 0;
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  text-align: center;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

.header-image {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.header-image span {
  background-color: #ef414c;
  width: 30px;
  height: 60px;
  margin: 10px 10px;
  display: block;
}

.header-image span:nth-child(1) {
  height: 83.33333px;
  -webkit-animation: "wiggle1" 1s 0.07143s infinite alternate ease-in-out;
          animation: "wiggle1" 1s 0.07143s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle1 {
  0% {
    height: 83.33333px;
  }
  100% {
    height: 91.66667px;
  }
}

@keyframes wiggle1 {
  0% {
    height: 83.33333px;
  }
  100% {
    height: 91.66667px;
  }
}

.header-image span:nth-child(2) {
  height: 166.66667px;
  -webkit-animation: "wiggle2" 1s 0.14286s infinite alternate ease-in-out;
          animation: "wiggle2" 1s 0.14286s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle2 {
  0% {
    height: 166.66667px;
  }
  100% {
    height: 183.33333px;
  }
}

@keyframes wiggle2 {
  0% {
    height: 166.66667px;
  }
  100% {
    height: 183.33333px;
  }
}

.header-image span:nth-child(3) {
  height: 250px;
  -webkit-animation: "wiggle3" 1s 0.21429s infinite alternate ease-in-out;
          animation: "wiggle3" 1s 0.21429s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle3 {
  0% {
    height: 250px;
  }
  100% {
    height: 275px;
  }
}

@keyframes wiggle3 {
  0% {
    height: 250px;
  }
  100% {
    height: 275px;
  }
}

.header-image span:nth-child(4) {
  height: 214.28571px;
  -webkit-animation: "wiggle4" 1s 0.28571s infinite alternate ease-in-out;
          animation: "wiggle4" 1s 0.28571s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle4 {
  0% {
    height: 214.28571px;
  }
  100% {
    height: 235.71429px;
  }
}

@keyframes wiggle4 {
  0% {
    height: 214.28571px;
  }
  100% {
    height: 235.71429px;
  }
}

.header-image span:nth-child(5) {
  height: 178.57143px;
  -webkit-animation: "wiggle5" 1s 0.35714s infinite alternate ease-in-out;
          animation: "wiggle5" 1s 0.35714s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle5 {
  0% {
    height: 178.57143px;
  }
  100% {
    height: 196.42857px;
  }
}

@keyframes wiggle5 {
  0% {
    height: 178.57143px;
  }
  100% {
    height: 196.42857px;
  }
}

.header-image span:nth-child(6) {
  height: 142.85714px;
  -webkit-animation: "wiggle6" 1s 0.42857s infinite alternate ease-in-out;
          animation: "wiggle6" 1s 0.42857s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle6 {
  0% {
    height: 142.85714px;
  }
  100% {
    height: 157.14286px;
  }
}

@keyframes wiggle6 {
  0% {
    height: 142.85714px;
  }
  100% {
    height: 157.14286px;
  }
}

.header-image span:nth-child(7) {
  height: 107.14286px;
  -webkit-animation: "wiggle7" 1s 0.5s infinite alternate ease-in-out;
          animation: "wiggle7" 1s 0.5s infinite alternate ease-in-out;
}

@-webkit-keyframes wiggle7 {
  0% {
    height: 107.14286px;
  }
  100% {
    height: 117.85714px;
  }
}

@keyframes wiggle7 {
  0% {
    height: 107.14286px;
  }
  100% {
    height: 117.85714px;
  }
}

.header-image.animate {
  -webkit-animation: intro-squash 1.5s forwards;
          animation: intro-squash 1.5s forwards;
}

@-webkit-keyframes intro-squash {
  0% {
    -webkit-transform: none;
            transform: none;
    left: 0;
  }
  100% {
    -webkit-transform: scaleY(0.05);
            transform: scaleY(0.05);
    left: 47.5%;
  }
}

@keyframes intro-squash {
  0% {
    -webkit-transform: none;
            transform: none;
    left: 0;
  }
  100% {
    -webkit-transform: scaleY(0.05);
            transform: scaleY(0.05);
    left: 47.5%;
  }
}

.header-text {
  margin-right: 50px;
  position: relative;
}

.header-text p {
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
}

.header-text h2 {
  margin: 0;
  font-size: 2.8rem;
}

.header-resume {
  margin: 100px auto 0;
  display: block;
  width: 150px;
  text-align: center;
}

/* Main Styles - header.scss */
main h2 {
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 3px;
  text-align: center;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about-me h3, .about-me p {
  font-size: 2.4rem;
}

.about-me .text-highlight {
  color: #EF414C;
}

.about-me .profile-text {
  width: calc(60% - 20px);
  margin: 10px;
  padding-top: 60px;
}

.about-me .profile-photo {
  width: calc(40% - 20px);
  margin: 10px;
  position: relative;
  top: -50px;
}

.about-me .profile-photo::after {
  content: '';
  display: block;
  width: calc(100% - 15px);
  height: calc(100% + 15px);
  position: absolute;
  top: -7.5px;
  left: 7.5px;
  border: 1px solid #EF414C;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.about-me .profile-photo:hover::after {
  width: calc(100% - -15px);
  height: calc(100% + -15px);
  top: 7.5px;
  left: -7.5px;
}

.about-me .profile-photo .profile-photo-tag {
  display: none;
}

.about-me .profile-photo:active .profile-photo-tag {
  display: block;
  width: 130px;
  position: absolute;
  top: 14%;
  left: 23%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

@-webkit-keyframes ebb-and-flow {
  0% {
    width: calc(100% - 15px);
    height: calc(100% + 15px);
    top: -7.5px;
    left: 7.5px;
  }
  100% {
    width: calc(100% - -15px);
    height: calc(100% + -15px);
    top: 7.5px;
    left: -7.5px;
  }
}

@keyframes ebb-and-flow {
  0% {
    width: calc(100% - 15px);
    height: calc(100% + 15px);
    top: -7.5px;
    left: 7.5px;
  }
  100% {
    width: calc(100% - -15px);
    height: calc(100% + -15px);
    top: 7.5px;
    left: -7.5px;
  }
}

.my-skills {
  background-color: #3F7FA9;
  min-height: 120px;
  margin-bottom: 250px;
}

.my-skills h2 {
  padding: 20px;
  color: #F3F7F0;
}

.my-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 70px;
  width: 100%;
}

.my-skills li {
  width: 190px;
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 2rem;
}

.my-skills li .skill-icon {
  width: 100%;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #F3F7F0;
  border-left: 2px solid #EF414C;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.35s, -webkit-box-shadow 0.35s;
  transition: -webkit-transform 0.35s, -webkit-box-shadow 0.35s;
  transition: transform 0.35s, box-shadow 0.35s;
  transition: transform 0.35s, box-shadow 0.35s, -webkit-transform 0.35s, -webkit-box-shadow 0.35s;
}

.my-skills li p {
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: -4%;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #000;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.my-skills li:hover .skill-icon {
  background-color: #EF414C;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 5px #19323C;
          box-shadow: 0 0 5px #19323C;
}

.my-skills li:hover p {
  opacity: 1;
  left: 0;
}

/* Footer Styles - footer.scss */
