/* Setup - setup.scss / variables.scss / mixins.scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/*
accent: #EF414C
primary: #F3F7F0
secondary: #19323C
tertiary: #3F7FA9
yellow: #F8EC70
red: #F0575A
*/
/* Type Styles - type.scss */
* {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* Global Styles - global.scss */
body {
  color: #19323C;
}

a,
a:visited {
  text-decoration: none;
  border: none;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h2 {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

.button {
  padding: 15px 20px;
  background-color: #3F7FA9;
  border-radius: 100px;
  font-size: 2rem;
  color: #F3F7F0;
}

/* Header Styles - header.scss */
header {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #3F7FA9), color-stop(30%, #F3F7F0));
  background-image: linear-gradient(to right, #3F7FA9 30%, #F3F7F0 30%);
  min-height: 95vh;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 50px 0 0;
  font-size: 1.8rem;
}

header nav a {
  color: #19323C;
  position: relative;
}

header nav a:hover,
header nav a:focus,
header nav ul:not(:hover) .activeNav {
  color: #EF414C;
}

header nav a:hover::after,
header nav a:focus::after,
header nav ul:not(:hover) .activeNav::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: -52px;
  background-color: #EF414C;
}

h1 {
  margin: 10px 0;
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  text-align: center;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

.header-image {
  width: 250px;
  height: 400px;
  position: relative;
  background-color: #EF414C;
}

.header-text {
  margin-right: 50px;
}

.header-text p {
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
}

.header-text h2 {
  margin: 0;
  font-size: 2.8rem;
}

.header-resume {
  margin: 100px auto 0;
  display: block;
  width: 150px;
  text-align: center;
}

/* Main Styles - header.scss */
h2 {
  font-size: 3rem;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me h3, .about-me p {
  font-size: 2.4rem;
}

.about-me .text-highlight {
  color: #EF414C;
}

.about-me .profile-text {
  width: calc(60% - 20px);
  margin: 10px;
  padding-top: 60px;
}

.about-me .profile-photo {
  width: calc(40% - 20px);
  margin: 10px;
  position: relative;
  top: -30px;
}

.about-me .profile-photo::after {
  content: '';
  display: block;
  width: calc(100% - 15px);
  height: calc(100% + 15px);
  position: absolute;
  top: -7.5px;
  left: 7.5px;
  border: 1px solid #EF414C;
}

.my-skills {
  background-color: #F3F7F0;
  min-height: 150px;
}

.my-skills h2 {
  text-align: center;
  padding: 20px;
  color: #19323C;
}

.my-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-skills li {
  width: calc(100%/3 - 20px);
  height: 50px;
  margin: 10px;
  background-color: #EF414C;
}

/* Footer Styles - footer.scss */
